<footer class='mt-30'>
  <div class='container'>
  	<div class='row'>
	    <div class='col-sm-6 text-center-in-mobile mb-10'>
	      &copy; Syncrow 2018
	    </div>
	    <div class='col-sm-6 text-center-in-mobile  mb-10 text-right'>
	    	<a href='https://github.com/Afzal7/syncrow' class="text-blue">Its Open Source, Go Crazy!</a>
	    </div>
	  </div>
  </div>
</footer>